@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .light {
    --foreground: 215 28% 17%;
    --foreground-light: 0 0% 25%;
    --foreground-muted: 240 3.8% 46.1%;
    --background: 0 0% 100%;
    --primary: 211 100% 50%;
    --secondary: 240 4% 95%;
    --accent: 240 4% 95%;
    --ring: 240 3% 87%;

    scrollbar-color: #555 #101010 !important;
    scrollbar-width: 4px !important;
  }
  .dark {
    --foreground: 0 0% 98%;
    --foreground-light: 0 0% 83%;
    --foreground-muted: 0 0% 64%;
    --background: 0, 0%, 2%;
    --primary: 211 100% 50%;
    --secondary: 240 4% 18%;
    --accent: 240 4% 15%;
    --ring: 240 6% 23%;

    scrollbar-color: #555 #101010 !important;
    scrollbar-width: 4px !important;
  }
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.waves svg {
  object-fit: contain;
  position: relative;
  display: block;
  width: 205%;
  height: 368px;
  color: #0069d984;
  transform: rotateY(180deg);
}

.waves .shape-fill {
  fill: url("#WaveGradient");
}

[data-highlighted-chars] {
  @apply bg-zinc-600/60 rounded;
}

pre {
  font-size: 14px;
}

pre {
  overflow-x: auto;
  max-width: 100%;
}

@media (min-width: 680px) {
  pre {
    font-size: 16px;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #38383838;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
